<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kcdwebservice.dao.CmKcdDao">
    <select id="select" parameterType="com.example.kcdwebservice.vo.CmKcdVo" resultType="com.example.kcdwebservice.vo.CmKcdVo">
        SELECT K.KCD_CD kcdCd,
           K.KCD_ENG kcdEng,
           K.KCD_KOR kcdKor,
           K.UDT_DT udtDt,
           M.SCT_ID sctId
        FROM CM_KCD K LEFT JOIN MAP_KCD_SCT M ON K.KCD_CD = M.KCD_CD limit ${limit} offset ${offset}
    </select>
</mapper>