<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kcdwebservice.dao.CmKcdDao">
    <select id="selectAll" parameterType="com.example.kcdwebservice.vo.CmKcdVo" resultType="com.example.kcdwebservice.vo.CmKcdVo">
        SELECT K.KCD_CD kcdCd,
           K.KCD_ENG kcdEng,
           K.KCD_KOR kcdKor,
           K.UDT_DT udtDt,
           M.SCT_ID sctId
        FROM CM_KCD K LEFT JOIN (
                SELECT * FROM MAP_KCD_SCT WHERE MAP_VER = ${mapVer}
        ) M ON K.KCD_CD = M.ORI_CD limit ${limit} offset ${offset};
    </select>

    <select id="selectAll2" parameterType="com.example.kcdwebservice.vo.MapMetaVo" resultType="com.example.kcdwebservice.vo.MapMetaVo">
        SELECT K.KCD_CD kcdCd,
           K.KCD_ENG kcdEng,
           K.KCD_KOR kcdKor,
           K.UDT_DT udtDt,
           M.SCT_ID sctId,
           T.term term,
           M.MAP_STAT_CD mapStatCd,
           C1.CD_DSCRT cdDscrt
        FROM CM_KCD K 
		LEFT JOIN MAP_KCD_SCT M
			ON K.KCD_CD = M.ORI_CD
			AND M.MAP_VER = ${mapVer}
			AND M.MAP_STAT_CD=${mapStatCd}
		LEFT JOIN description_s T
			ON M.SCT_ID=T.conceptid
			AND T.active='1'
			AND T.typeid='900000000000003001'
		LEFT JOIN MCODE C1
			ON C1.CD_GRP='MAP_STAT_CD'
			AND C1.CD_ID=M.MAP_STAT_CD
            AND C1.CD_STAT_CD='0'
        limit ${limit} offset ${offset};
		
    </select>

    

    <select id="select_mapping" parameterType="com.example.kcdwebservice.vo.CmKcdVo" resultType="com.example.kcdwebservice.vo.CmKcdVo">
        SELECT K.KCD_CD kcdCd,
           K.KCD_ENG kcdEng,
           K.KCD_KOR kcdKor,
           K.UDT_DT udtDt,
           M.SCT_ID sctId
        FROM CM_KCD K INNER JOIN (
                SELECT * FROM MAP_KCD_SCT WHERE MAP_VER = ${mapVer}
        ) M ON K.KCD_CD = M.ORI_CD limit ${limit} offset ${offset};
    </select>

    <select id="select_not_mapping" parameterType="com.example.kcdwebservice.vo.CmKcdVo" resultType="com.example.kcdwebservice.vo.CmKcdVo">
        select KCD_CD kcdCd,
           KCD_ENG kcdEng,
           KCD_KOR kcdKor,
           UDT_DT udtDt,
           null sctId
        from CM_KCD where KCD_CD not in (
            select distinct ORI_CD from MAP_KCD_SCT where MAP_VER = ${mapVer}
        ) limit ${limit} offset ${offset};
    </select>

    <select id="selectKcdCdInfo" parameterType="String" resultType="com.example.kcdwebservice.vo.CmKcdVo">
        SELECT
            KCD_CD kcdCd,
            KCD_ENG kcdEng,
            KCD_KOR kcdKor,
            KCD_MAP_STAT_CD kcdMapStatCd,
            KCD_RV_STAT_CD kcdRvStatCd,
            DISP_ODR dispOdr,
            UDT_DT udtDt
        FROM CM_KCD WHERE KCD_CD = #{value}
    </select>

    <select id="totalAllCnt"  resultType="String">
        SELECT count(*)
        FROM CM_KCD K ;
    </select>

    <select id="totalMappingCnt" parameterType="String" resultType="String">
        SELECT count(*)
        FROM CM_KCD K 
        WHERE KCD_CD IN (
                SELECT ORI_CD FROM MAP_KCD_SCT WHERE MAP_VER = #{value}
        );
    </select>

    <select id="totalNotMappingCnt" parameterType="String" resultType="String">
        SELECT count(*)
        FROM CM_KCD K 
        WHERE KCD_CD NOT IN (
                SELECT ORI_CD FROM MAP_KCD_SCT WHERE MAP_VER = #{value}
        );
    </select>


    <!--select id="totalAllCnt" parameterType="String" resultType="String">
        SELECT count(*)
        FROM CM_KCD K LEFT JOIN (
                SELECT * FROM MAP_KCD_SCT WHERE MAP_VER = #{value}
        ) M ON K.KCD_CD = M.ORI_CD;
    </select>

    <select id="totalMappingCnt" parameterType="String" resultType="String">
        SELECT count(*)
        FROM CM_KCD K INNER JOIN (
                SELECT * FROM MAP_KCD_SCT WHERE MAP_VER = #{value}
        ) M ON K.KCD_CD = M.ORI_CD;
    </select>

    <select id="totalNotMappingCnt" parameterType="String" resultType="String">
        select count(*)
        from CM_KCD where KCD_CD not in (
            select distinct ORI_CD from MAP_KCD_SCT where MAP_VER = #{value}
        );
    </select-->

</mapper>