<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kcdwebservice.dao.CmKexamDao">

    <select id="kexam_selectAll" parameterType="com.example.kcdwebservice.vo.CmKexamVo" resultType="com.example.kcdwebservice.vo.CmKexamVo">
        select KEX_CD     kexCd,
               KEX_TP_CD  kexTpCd,
               KEX_GRP kexGrp,
               KEX_KOR    kexKor,
               KEX_ENG    kexEng,
               KEX_PRICE  kexPrice
        from CM_KEXAM
        <if test="limit != '' and limit != null and offset != '' and offset != null">
            limit ${limit} offset ${offset}
        </if>
        ;
    </select>

    <select id="selectKexCdInfo" parameterType="String" resultType="com.example.kcdwebservice.vo.CmKexamVo">
        select KEX_CD     kexCd,
               KEX_TP_CD  kexTpCd,
               KEX_GRP kexGrp,
               KEX_KOR    kexKor,
               KEX_ENG    kexEng,
               KEX_PRICE  kexPrice
        from CM_KEXAM
        <where>
            <if test="kexCd != '' and kexCd != null">
                KEX_CD = #{kexCd};
            </if>
        </where>
    </select>


</mapper>