<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kcdwebservice.dao.CmMediDao">

    <select id="selectAll" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT KD_CD             kdCd,
               PRINCIPAL_COMP_CD prinipalCompCd,
               DRUG_NM_KOR       drugNmKor,
               DRUG_MANUF        drugManuf,
               HIRA_ATC_CD       hiraAtcCd,
               HIRA_ATC_NM       hiraAtcNm,
               STD_CD            stdCd,
               DRUG_NM_ENG       drugNmEng,
               SUBSTANCE_NM      substanceNm,
               AMOUNT1           amount1,
               UNIT1             unit1,
               EFT_SUBST_NM      eftSubstNm,
               AMOUNT2           amount2,
               UNIT2             unit2,
               AMOUNT3           amount3,
               UNIT3             unit3,
               MED_DOSE_FRM      medDoseFrm,
               MED_DOSE_FRM2      medDoseFrm2,
               MED_DOSE_FRM3      medDoseFrm3,
               RT_OF_ADMIN       rtOfAdmin,
               SUB_ALT_KEY       subAltKey,
               SUBSTANCE_NM2      substanceNm2,
               EFT_SUBST_NM2      eftSubstNm2
        from CM_MEDICINE
        where KD_CD not in (select distinct ORI_CD from MAP_KCD_SCT2 where ORI_TP_CD='MEDI')
        and JOB_CD='S';
       
    </select>
    <!--#  where KD_CD not in (select distinct ORI_CD from MAP_KCD_SCT2); where KD_CD ='679400231'; where KD_CD ='679400231'  ;-->
    <select id="selectCAll"  resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT KD_CD             kdCd,
               PRINCIPAL_COMP_CD prinipalCompCd,
               DRUG_NM_KOR       drugNmKor,
               DRUG_MANUF        drugManuf,
               HIRA_ATC_CD       hiraAtcCd,
               HIRA_ATC_NM       hiraAtcNm,
               STD_CD            stdCd,
               DRUG_NM_ENG       drugNmEng,
               SUBSTANCE_NM      substanceNm,
               AMOUNT1           amount1,
               UNIT1             unit1,
               EFT_SUBST_NM      eftSubstNm,
               AMOUNT2           amount2,
               UNIT2             unit2,
               AMOUNT3           amount3,
               UNIT3             unit3,
               MED_DOSE_FRM      medDoseFrm,
               MED_DOSE_FRM2      medDoseFrm2,
               MED_DOSE_FRM3      medDoseFrm3,
               RT_OF_ADMIN       rtOfAdmin,
               SUB_ALT_KEY       subAltKey,
               SUBSTANCE_MODI      substanceModi
               
        from CM_MEDICINE
        where KD_CD not in (select distinct ORI_CD from MAP_KCD_SCT2 where ORI_TP_CD='MEDI')
        and JOB_CD='O';
       
    </select>
    <!--#  where KD_CD not in (select distinct ORI_CD from MAP_KCD_SCT2); where KD_CD ='679400231'; where KD_CD ='679400231'  ;-->

    <insert id="insertAutoMap2" parameterType="com.example.kcdwebservice.vo.MapKcdSctVo" >
        INSERT into MAP_KCD_SCT2(ORI_TP_CD,ORI_CD,SUB_ALT_KEY,SCT_ID,MAP_VER,MAP_STAT_CD,RV_STAT_CD,DISP_ODR,UDT_DT)
        values('MEDI',#{oriCd},#{subAltKey},#{sctId},#{mapVer},#{mapStatCd},'0','1',sysdate())
    </insert>

    <select id="medi_selectAll" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT CM.KD_CD         kdCd,
               CM.DRUG_NM_ENG   drugNmEng,
               CM.DRUG_NM_KOR   drugNmKor,
               CM.SUB_ALT_KEY       subAltKey,
               MAP2.UDT_DT      udtDt,
               MAP2.SCT_ID      sctId,
               CS.SCT_TERM       sctTerm,
               MAP2.MAP_STAT_CD mapStatCd,
               CD.CD_DSCRT      cdDscrt
        FROM CM_MEDICINE CM
        LEFT OUTER JOIN (
            SELECT *
            FROM MAP_KCD_SCT2
        WHERE ORI_TP_CD = 'MEDI'
        ) MAP2 ON CM.KD_CD = MAP2.ORI_CD
            LEFT OUTER JOIN CM_SNOMEDCT CS ON MAP2.SCT_ID = CS.SCT_ID
            LEFT OUTER JOIN MCODE CD
            ON LEFT(MAP2.MAP_STAT_CD, 1) = CD.CD_ID AND CD.CD_GRP = 'MAP_STAT_CD' AND CD.CD_STAT_CD = '0'
        <where>
            <if test="kdCd != null and kdCd != '' ">
                CM.KD_CD = #{kdCd}
            </if>
        </where>
        <if test="limit != null and limit != '' and offset != null and offset != '' ">
            limit ${limit} offset ${offset}
        </if>
        ;
    </select>

    <select id="medi_selectMapping" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT CM.KD_CD kdCd,
               CM.DRUG_NM_ENG drugNmEng,
               CM.DRUG_NM_KOR drugNmKor,
               CM.SUB_ALT_KEY       subAltKey,
               MAP2.UDT_DT udtDt,
               MAP2.SCT_ID sctId,
               S.SCT_TERM sctTerm,
               MAP2.MAP_STAT_CD mapStatCd,
               CD.CD_DSCRT cdDscrt
        FROM CM_MEDICINE CM
        INNER JOIN (
            SELECT * FROM MAP_KCD_SCT2 WHERE MAP_VER = 0 AND ORI_TP_CD = 'MEDI'
        ) MAP2 ON CM.KD_CD = MAP2.ORI_CD
        LEFT OUTER JOIN CM_SNOMEDCT S ON MAP2.SCT_ID = S.SCT_ID
        LEFT OUTER JOIN MCODE CD ON LEFT(MAP2.MAP_STAT_CD, 1) = CD.CD_ID
        AND CD.CD_GRP = 'MAP_STAT_CD'
        AND CD.CD_STAT_CD = '0'
        <where>
            <if test="kdCd != null and kdCd != '' ">
                CM.KD_CD = #{kdCd}
            </if>
        </where>
        <if test="limit != '' and limit != null and offset != '' and offset != null">
            limit ${limit} offset ${offset}
        </if>
        ;
    </select>

    <select id="medi_selectNoMapping" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT CM.KD_CD       kdCd,
               CM.DRUG_NM_ENG drugNmEng,
               CM.DRUG_NM_KOR drugNmKor,
               CM.SUB_ALT_KEY       subAltKey
        FROM CM_MEDICINE CM
        WHERE KD_CD NOT IN (
            SELECT DISTINCT ORI_CD
                FROM MAP_KCD_SCT2
                WHERE MAP_VER = 0
            AND ORI_TP_CD = 'MEDI'
        )
        <if test="kdCd != '' and kdCd != null ">
            and M.KD_CD = #{kdCd}
        </if>
        <if test="limit != '' and limit != null and offset != '' and offset != null">
            limit ${limit} offset ${offset}
        </if>
        ;
    </select>

    <select id="medi_kdCdTotalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
        FROM CM_MEDICINE
        <where>
            <if test="kdCd != '' and kdCd != null">
                KD_CD = #{kdCd}
            </if>
        </where>
         ;
    </select>

    <select id="medi_kdCdMappingTotalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
        FROM CM_MEDICINE K
        WHERE KD_CD IN (
                SELECT ORI_CD FROM MAP_KCD_SCT2 WHERE MAP_VER = 0
                <!--
                <if test="mapStatCd != null and mapStatCd != ''">
                   AND MAP_STAT_CD = #{mapStatCd}
                </if>
                -->
        )
    </select>

    <select id="medi_kdCdNoMappingTotalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
        FROM CM_MEDICINE K
        WHERE KD_CD NOT IN (
        SELECT ORI_CD FROM MAP_KCD_SCT2 WHERE MAP_VER = #{mapVer}
                <!--
                <if test="mapStatCd != 'All'">
                    and MAP_STAT_CD = #{mapStatCd}
                </if>
                -->
        )
    </select>

    <select id="medi_totalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT COUNT(1)
        FROM MAP_KCD_SCT2 MAP2
                 LEFT OUTER JOIN (
            SELECT *
            FROM CM_MEDICINE
        ) CM ON MAP2.ORI_CD = CM.KD_CD
                 LEFT OUTER JOIN CM_SNOMEDCT S ON MAP2.SCT_ID = S.SCT_ID
                 LEFT OUTER JOIN MCODE CD
                                 ON LEFT(MAP2.MAP_STAT_CD, 1) = CD.CD_ID AND CD.CD_GRP = 'MAP_STAT_CD' AND CD.CD_STAT_CD = '0'
        <where>
            <if test="kdCd != null and kdCd != '' ">
                CM.KD_CD = #{kdCd}
            </if>
        </where>
        ;
    </select>

    <select id="medi_mappingTotalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
            FROM CM_MEDICINE CM
            INNER JOIN (
                SELECT * FROM MAP_KCD_SCT2 WHERE MAP_VER = 0 AND ORI_TP_CD = 'MEDI'
            ) MAP2 ON CM.KD_CD = MAP2.ORI_CD
        LEFT OUTER JOIN CM_SNOMEDCT S ON MAP2.SCT_ID = S.SCT_ID
        LEFT OUTER JOIN MCODE CD ON LEFT(MAP2.MAP_STAT_CD, 1) = CD.CD_ID
            AND CD.CD_GRP = 'MAP_STAT_CD'
            AND CD.CD_STAT_CD = '0'
        <where>
            <if test="kdCd != null and kdCd != '' ">
                CM.KD_CD = #{kdCd}
            </if>
        </where>
        ;
    </select>

    <select id="medi_noMappingTotalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
        FROM CM_MEDICINE CM
        WHERE KD_CD NOT IN (
            SELECT DISTINCT ORI_CD
                FROM MAP_KCD_SCT2
                WHERE MAP_VER = 0
            AND ORI_TP_CD = 'MEDI'
        )
        <if test="kdCd != null and kdCd != '' ">
            CM.KD_CD = #{kdCd}
        </if>
        ;
    </select>

    <select id="getMediInfo" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT PRINCIPAL_COMP_CD prinipalCompCd,
               KD_CD kdCd,
               DRUG_NM_KOR drugNmKor,
               DRUG_MANUF drugManuf,
               HIRA_ATC_CD hiraAtcCd,
               HIRA_ATC_NM hiraAtcNm,
               STD_CD stdCd,
               DRUG_NM_ENG drugNmEng,
               SUBSTANCE_NM substanceNm,
               AMOUNT1 amount1,
               UNIT1 unit1,
               EFT_SUBST_NM eftSubstNm,
               AMOUNT2 amount2,
               UNIT2 unit2,
               AMOUNT3 amount3,
               UNIT3 unit3,
               MED_DOSE_FRM medDoseFrm,
               RT_OF_ADMIN rtOfAdmin
        FROM CM_MEDICINE
        WHERE KD_CD = #{kdCd} AND SUB_ALT_KEY = #{subAltKey};
    </select>

    <select id="getMediInfoList" parameterType="String" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT PRINCIPAL_COMP_CD prinipalCompCd,
               KD_CD kdCd,
               DRUG_NM_KOR drugNmKor,
               DRUG_MANUF drugManuf,
               HIRA_ATC_CD hiraAtcCd,
               HIRA_ATC_NM hiraAtcNm,
               STD_CD stdCd,
               DRUG_NM_ENG drugNmEng,
               SUBSTANCE_NM substanceNm,
               AMOUNT1 amount1,
               UNIT1 unit1,
               EFT_SUBST_NM eftSubstNm,
               AMOUNT2 amount2,
               UNIT2 unit2,
               AMOUNT3 amount3,
               UNIT3 unit3,
               MED_DOSE_FRM medDoseFrm,
               RT_OF_ADMIN rtOfAdmin
        FROM CM_MEDICINE
        WHERE KD_CD = #{value};
    </select>

    <select id="mediDetailList" parameterType="String" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT M.ORI_CD      oriCd,
               M.SCT_ID      sctId,
               M.MAP_VER     mapVer,
               M.MAP_STAT_CD mapStatCd,
               M.RV_STAT_CD  rvStatCd,
               M.DISP_ODR    dispOdr,
               M.UDT_DT      udtDt,
               S.SCT_TERM    sctTerm,
               CD.CD_DSCRT   mapStatNm
        FROM MAP_KCD_SCT2 M
                 LEFT OUTER JOIN CM_SNOMEDCT S ON M.SCT_ID = S.SCT_ID
                 LEFT OUTER JOIN MCODE CD
                                 ON LEFT(M.MAP_STAT_CD, 1) = CD.CD_ID AND CD.CD_GRP = 'MAP_STAT_CD' AND CD.CD_STAT_CD = '0'
        WHERE M.ORI_CD = #{value}
    </select>
</mapper>