<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kcdwebservice.dao.CmMediDao">

    <select id="selectAll" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT KD_CD             kdCd,
               PRINCIPAL_COMP_CD prinipalCompCd,
               DRUG_NM_KOR       drugNmKor,
               DRUG_MANUF        drugManuf,
               HIRA_ATC_CD       hiraAtcCd,
               HIRA_ATC_NM       hiraAtcNm,
               STD_CD            stdCd,
               DRUG_NM_ENG       drugNmEng,
               SUBSTANCE_NM      substanceNm,
               AMOUNT1           amount1,
               UNIT1             unit1,
               EFT_SUBST_NM      eftSubstNm,
               AMOUNT2           amount2,
               UNIT2             unit2,
               AMOUNT3           amount3,
               UNIT3             unit3,
               MED_DOSE_FRM      medDoseFrm,
               RT_OF_ADMIN       rtOfAdmin
        from CM_MEDICINE
        where KD_CD not in (select distinct ORI_CD from MAP_KCD_SCT2); 
       
    </select>
    <!--#   where KD_CD ='643100290'-->

    <insert id="insertAutoMap2" parameterType="com.example.kcdwebservice.vo.MapKcdSctVo" >
        INSERT into MAP_KCD_SCT2(ORI_TP_CD,ORI_CD,SCT_ID,MAP_VER,MAP_STAT_CD,RV_STAT_CD,DISP_ODR,UDT_DT)
        values('MEDI',#{oriCd},#{sctId},#{mapVer},#{mapStatCd},'0','1',sysdate())
    </insert>

    <select id="medi_selectAll" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT M.KD_CD kdCd,
               M.DRUG_NM_ENG drugNmEng,
               M.DRUG_NM_KOR drugNmKor,
               M2.UDT_DT udtDt,
               M2.SCT_ID sctId,
               S.SCT_TERM sctTerm,
               M2.MAP_STAT_CD mapStatCd,
               CD.CD_DSCRT cdDscrt
        FROM CM_MEDICINE M
                 LEFT JOIN (
            SELECT * FROM MAP_KCD_SCT2 WHERE MAP_VER = 0
        ) M2 ON M.KD_CD = M2.ORI_CD
                 LEFT OUTER JOIN CM_SNOMEDCT S ON M.STD_CD = S.SCT_ID
                 LEFT OUTER JOIN MCODE CD ON LEFT(M2.MAP_STAT_CD, 1) = CD.CD_ID
                                            AND CD.CD_GRP = 'MAP_STAT_CD'
                                            AND CD.CD_STAT_CD = '0'
        <where>
            <if test="kdCd != '' and kdCd != null">
                M.KD_CD = #{kdCd}
            </if>
        </where>
        <if test="limit != '' and limit != null and offset != '' and offset != null">
            limit ${limit} offset ${offset}
        </if>
        ;
    </select>

    <select id="medi_selectMapping" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT M.KD_CD kdCd,
               M.DRUG_NM_ENG drugNmEng,
               M.DRUG_NM_KOR drugNmKor,
               M2.UDT_DT udtDt,
               M2.SCT_ID sctId,
               S.SCT_TERM sctTerm,
               M2.MAP_STAT_CD mapStatCd,
               CD.CD_DSCRT cdDscrt
        FROM CM_MEDICINE M
                 INNER JOIN (SELECT * FROM MAP_KCD_SCT2 WHERE MAP_VER = 0
        ) M2 ON M.KD_CD = M2.ORI_CD
                 LEFT OUTER JOIN CM_SNOMEDCT S ON M.STD_CD = S.SCT_ID
                 LEFT OUTER JOIN MCODE CD ON LEFT(M2.MAP_STAT_CD, 1) = CD.CD_ID
            AND CD.CD_GRP = 'MAP_STAT_CD'
            AND CD.CD_STAT_CD = '0'
        <where>
            <if test="kdCd != '' and kdCd != null">
                M.KD_CD = #{kdCd}
            </if>
        </where>
        <if test="limit != '' and limit != null and offset != '' and offset != null">
            limit ${limit} offset ${offset}
        </if>
            ;
    </select>

    <select id="medi_selectNoMapping" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT M.KD_CD kdCd,
               M.DRUG_NM_ENG drugNmEng,
               M.DRUG_NM_KOR drugNmKor
        FROM CM_MEDICINE M
        WHERE KD_CD NOT IN (
            SELECT DISTINCT ORI_CD
            FROM MAP_KCD_SCT2
            WHERE MAP_VER = 0
        )
        <if test="kdCd != '' and kdCd != null ">
            and M.KD_CD = #{kdCd}
        </if>
        <if test="limit != '' and limit != null and offset != '' and offset != null">
            limit ${limit} offset ${offset}
        </if>
        ;
    </select>

    <select id="medi_kdCdTotalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
        FROM CM_MEDICINE
        <where>
            <if test="kdCd != '' and kdCd != null">
                KD_CD = #{kdCd}
            </if>
        </where>
         ;
    </select>

    <select id="medi_kdCdMappingTotalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
        FROM CM_MEDICINE K
        WHERE KD_CD IN (
                SELECT ORI_CD FROM MAP_KCD_SCT2 WHERE MAP_VER = 0
            <where>
                <if test="mapStatCd != null and mapStatCd != ''">
                    MAP_STAT_CD = #{mapStatCd}
                </if>
            </where>
        )
    </select>

    <select id="medi_kdCdNoMappingTotalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
        FROM CM_MEDICINE K
        WHERE KD_CD NOT IN (
        SELECT ORI_CD FROM MAP_KCD_SCT2 WHERE MAP_VER = #{mapVer}
                <if test="mapStatCd != 'All'">
                    and MAP_STAT_CD = #{mapStatCd}
                </if>
        )
    </select>

    <select id="medi_totalCnt" parameterType="com.example.kcdwebservice.vo.CmMedicineVo" resultType="String">
        SELECT count(1)
        FROM CM_MEDICINE K LEFT JOIN (
                SELECT * FROM MAP_KCD_SCT2 WHERE MAP_VER = 0
        ) M ON K.KD_CD = M.ORI_CD
        LEFT OUTER JOIN CM_SNOMEDCT S ON M.SCT_ID=S.SCT_ID
        LEFT OUTER JOIN EMR.MCODE CD
        ON left(M.MAP_STAT_CD,1)=CD.CD_ID
        AND CD.CD_GRP='MAP_STAT_CD'
        AND CD.CD_STAT_CD='0';
    </select>

    <select id="getMediInfo" parameterType="String" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT PRINCIPAL_COMP_CD prinipalCompCd,
               KD_CD kdCd,
               DRUG_NM_KOR drugNmKor,
               DRUG_MANUF drugManuf,
               HIRA_ATC_CD hiraAtcCd,
               HIRA_ATC_NM hiraAtcNm,
               STD_CD stdCd,
               DRUG_NM_ENG drugNmEng,
               SUBSTANCE_NM substanceNm,
               AMOUNT1 amount1,
               UNIT1 unit1,
               EFT_SUBST_NM eftSubstNm,
               AMOUNT2 amount2,
               UNIT2 unit2,
               AMOUNT3 amount3,
               UNIT3 unit3,
               MED_DOSE_FRM medDoseFrm,
               RT_OF_ADMIN rtOfAdmin
        FROM CM_MEDICINE
        WHERE KD_CD = #{value};
    </select>

    <select id="mediDetailList" parameterType="String" resultType="com.example.kcdwebservice.vo.CmMedicineVo">
        SELECT M.ORI_CD      oriCd,
               M.SCT_ID      sctId,
               M.MAP_VER     mapVer,
               M.MAP_STAT_CD mapStatCd,
               M.RV_STAT_CD  rvStatCd,
               M.DISP_ODR    dispOdr,
               M.UDT_DT      udtDt,
               S.SCT_TERM    sctTerm,
               CD.CD_DSCRT   mapStatNm
        FROM MAP_KCD_SCT2 M
                 LEFT OUTER JOIN CM_SNOMEDCT S ON M.SCT_ID = S.SCT_ID
                 LEFT OUTER JOIN MCODE CD
                                 ON LEFT(M.MAP_STAT_CD, 1) = CD.CD_ID AND CD.CD_GRP = 'MAP_STAT_CD' AND CD.CD_STAT_CD = '0'
        WHERE M.ORI_CD = #{value}
    </select>
</mapper>