<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kcdwebservice.dao.MapKcdSctDao">
    <select id="selectKcdCdList" parameterType="String" resultType="com.example.kcdwebservice.vo.MapKcdSctVo">
        select
            M.ORI_CD oriCd,
            M.SCT_ID sctId,
            M.MAP_VER mapVer,
            M.MAP_STAT_CD mapStatCd,
            M.RV_STAT_CD rvStatCd,
            M.DISP_ODR dispOdr,
            M.UDT_DT udtDt,
            S.SCT_TERM sctTerm ,
            CD.CD_DSCRT mapStatNm,
            (select GROUP_CONCAT(CONCAT(MA.ATT_SCT_ID,'|',A.SCT_TERM,' |= ', MA.VAL_SCT_ID,'|',V.SCT_TERM) SEPARATOR ' , ' ) 
                from EMR.MAP_KCD_SCT_AFT_CAT MA
                    inner join EMR.CM_SNOMEDCT A
                    on MA.ATT_SCT_ID=A.SCT_ID
                    inner join EMR.CM_SNOMEDCT V
                    on MA.VAL_SCT_ID=V.SCT_ID
                where M.ORI_TP_CD=MA.ORI_TP_CD
                and M.MAP_VER=MA.MAP_VER
                and M.ORI_CD=MA.ORI_CD
                and M.SCT_ID=MA.SCT_ID
            ) afterMap
        from EMR.MAP_KCD_SCT M
            left outer join EMR.CM_SNOMEDCT S
            ON M.SCT_ID=S.SCT_ID
            left outer join EMR.MCODE CD
            ON left(M.MAP_STAT_CD,1)=CD.CD_ID
            AND CD.CD_GRP='MAP_STAT_CD'
            AND CD.CD_STAT_CD='0'
        where M.ORI_CD = #{value}
    </select>

    <insert id="insertAutoMap1" parameterType="com.example.kcdwebservice.vo.MapKcdSctVo" >
        INSERT into MAP_KCD_SCT(ORI_CD,SCT_ID,MAP_VER,MAP_STAT_CD,RV_STAT_CD,DISP_ODR,UDT_DT)
        values(#{oriCd},#{sctId},#{mapVer},'1','0','1',sysdate())
    </insert>

    <insert id="insertMapKcdSctInfo" parameterType="com.example.kcdwebservice.vo.MapKcdSctVo">
        INSERT into MAP_KCD_SCT(ORI_CD,SCT_ID,MAP_VER,MAP_STAT_CD,RV_STAT_CD, MAP_MEMO, DISP_ODR,UDT_DT)
        values(#{oriCd},#{sctId},#{mapVer},#{mapStatCd},'0',#{mapMemo},'0',sysdate())
    </insert>

    <insert id="insertMapKcdSctInfo_medi" parameterType="com.example.kcdwebservice.vo.MapKcdSctVo">
        INSERT into MAP_KCD_SCT2(ORI_CD,SCT_ID,MAP_VER,MAP_STAT_CD,RV_STAT_CD, MAP_MEMO, DISP_ODR,UDT_DT)
        values(#{oriCd},#{sctId},#{mapVer},#{mapStatCd},'0',#{mapMemo},'0',sysdate())
    </insert>

    <delete id="deleteMapKcdSctInfo" parameterType="com.example.kcdwebservice.vo.MapKcdSctVo">
        DELETE from MAP_KCD_SCT where ORI_CD = #{oriCd} and SCT_ID = #{sctId};
    </delete>

    <delete id="deleteMapKcdSctInfo_medi" parameterType="com.example.kcdwebservice.vo.MapKcdSctVo">
        DELETE FROM MAP_KCD_SCT2 WHERE ORI_CD = #{oriCd} AND SCT_ID = #{sctId};
    </delete>

</mapper>