<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kcdwebservice.dao.MapKcdSctDao">
    <select id="selectKcdCdList" parameterType="String" resultType="com.example.kcdwebservice.vo.MapKcdSctVo">
        select
            ORI_CD oriCd,
            SCT_ID sctId,
            MAP_VER mapVer,
            MAP_STAT_CD mapStatCd,
            RV_STAT_CD rvStatCd,
            DISP_ODR dispOdr,
            UDT_DT udtDt
        from MAP_KCD_SCT where ORI_CD = #{value}
    </select>

    <insert id="insertAutoMap1" parameterType="com.example.kcdwebservice.vo.MapKcdSctVo" >
        INSERT into MAP_KCD_SCT(ORI_CD,SCT_ID,MAP_VER,MAP_STAT_CD,RV_STAT_CD,DISP_ODR,UDT_DT)
        values(#{oriCd},#{sctId},#{mapVer},'1','0','1',sysdate())
    </insert>

    

</mapper>