.displayNone{
    display: none !important;
}
.totalCnt-css{
    text-align: right;
    font-size: 25px;
}
.kcdDetail:hover, .medDetail:hover{
    cursor: pointer;
    background-color: #007bff;
    color: white;
}
.sctIdDetail:hover{
    cursor: pointer;
    background-color: #007bff;
    color: white;
}
.kcdDetailTableCss{
    margin-left: 10px;
    margin-right: 10px;
}
.save-btn-div{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.margin-left-20{
    margin-left: 20px;
}
.alertCss{
    color: red;
    font-weight: bold;
    font-size: 20px;
    display: block;
}
.autoRule-div-display{
    display: none !important;
}
.matchStrCss{
    background-color: yellow;
}
.selectPickerDiv{
    width: 260px;
    display: inline-block;
    margin-left: 30px;
}