.displayNone{
    display: none !important;
}
.kcdDetail:hover{
    cursor: pointer;
    background-color: #007bff;
    color: white;
}
.sctIdDetail:hover{
    cursor: pointer;
    background-color: #007bff;
    color: white;
}
.kcdDetailTableCss{
    margin-left: 10px;
    margin-right: 10px;
}
.save-btn-div{
    width: 100%;
    text-align: center;
}
.margin-left-20{
    margin-left: 20px;
}